# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/css/*
web/js/*
web/admin/css/*
web/admin/js/*
web/uploads/*
web/bundles/*
web/media/*

# Configuration files
app/config/parameters.ini
app/config/parameters.yml

# eclipse
.externalToolBuilders
.settings
.buildpath
.project

#Others
.DS_Store
