{% extends 'GeckoBackendBundle::layout.html.twig' %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}
{% from 'GeckoBackendBundle:Macros:misc.html.twig' import pagination %}
{% from 'OdiseoLanBundle:Backend/TwitterUser:macros.html.twig' import list  %}

{% block section_title %}
<h1>Tweets</h1>
{% endblock %}

{% block breadcrums %}
<ol class="breadcrumb">
	<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
	<li class="active">Tweets</li>
</ol>
{% endblock %}

{% block content %}

{{ list(twitterusers)  }}
{{ pagination(twitterusers) }}

{% endblock %}
