{% extends 'GeckoBackendBundle::layout.html.twig' %}

{% block section_title %}
<h1>Dashboard <small>Bienvenido</small></h1>
{% endblock %}

{% block breadcrums %}
<ol class="breadcrumb">
	<li class="active"><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
</ol>
{% endblock %}

{% block content %}
{% endblock %}
