{% extends 'OdiseoLanBundle::Frontend/layout.html.twig' %}

{%block body_class %}avion{% endblock %}
{% block content %}
<div class="container-fluid">
  <div class="col-sm-8 col-lg-9 bg_avion">
    <div class="users" id='flight-passengers' data-refresh-url="{{ path('lan_flight_passengers')}}"> 
     	  
	    <div class="user position-1" id='position-0'></div>
	    <div class="user position-2" id='position-1'></div>
	    <div class="user position-3" id='position-2'></div>
	    
	    <div class="user position-4" id='position-3'></div>
	    <div class="user position-5" id='position-4'></div>
	    <div class="user position-6" id='position-5'></div>
	    <div class="user position-7"  id='position-6'></div>
	    
	    <div class="user position-8"  id='position-7'></div>
	    <div class="user position-9"  id='position-8'></div>
	    <div class="user position-10"  id='position-9'></div>
	    <div class="user position-11"  id='position-10'></div>
	    
	    <div class="user position-12"  id='position-11'></div>
	    <div class="user position-13"  id='position-12'></div>
	    <div class="user position-14"  id='position-13'></div>
	    <div class="user position-15"  id='position-14'></div>
	    
	    <div class="user position-16"  id='position-15' ></div>
	    <div class="user position-17" id='position-16'></div>
	    <div class="user position-18"  id='position-17'></div>
	    <div class="user position-19"  id='position-18'></div>
	    
    
    </div>
  </div>
  <div class="col-sm-4 col-lg-3 col-twitter">
    <div class="box_twitter">
      <div class="form-group">
        <form  action="{{ path('lan_send_tweet')}}" method="post" id="tweet-form">
          <textarea  data-rule-required="true"  name="form_data[tweet]"  class="form-control" rows="3" >#AmigosLan</textarea>
          <br>
          <button type="submit" class="btn btn-block">Enviar tweet y abordar</button>
        </form>
      </div>
    </div>
    <div class="box_tweets">
      <div class="media" > <a class="pull-left" href="#"> <img class="media-object img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/rssems/128.jpg"> </a>
        <div class="media-body">
          <h4 class="media-heading">@cofla <span>hace 12 minutos</span></h4>
          <p>Nunc vestibulum laoreet cursus. <a href="#1">#AmigosLan</a> Etiam vulputate ultrices vehicula. Mauris vitae ipsum ac magna bibendum ullamcorper. </p>
        </div>
      </div>
      <div class="media"> <a class="pull-left" href="#"> <img class="media-object img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/teclaro/128.jpg"> </a>
        <div class="media-body">
          <h4 class="media-heading">@cofla <span>hace 12 minutos</span></h4>
          <p>Nunc vestibulum laoreet cursus. <a href="#1">#AmigosLan</a> Etiam vulputate ultrices vehicula. Mauris vitae ipsum ac magna bibendum ullamcorper. </p>
        </div>
      </div>
      <div class="media"> <a class="pull-left" href="#"> <img class="media-object img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/kerem/128.jpg"> </a>
        <div class="media-body">
          <h4 class="media-heading">@cofla <span>hace 12 minutos</span></h4>
          <p>Nunc vestibulum laoreet cursus. <a href="#1">#AmigosLan</a> Etiam vulputate ultrices vehicula. Mauris vitae ipsum ac magna bibendum ullamcorper. </p>
        </div>
      </div>
      <div class="media"> <a class="pull-left" href="#"> <img class="media-object img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/walterstephanie/128.jpg"> </a>
        <div class="media-body">
          <h4 class="media-heading">@cofla <span>hace 12 minutos</span></h4>
          <p>Nunc vestibulum laoreet cursus. <a href="#1">#AmigosLan</a> Etiam vulputate ultrices vehicula. Mauris vitae ipsum ac magna bibendum ullamcorper. </p>
        </div>
      </div>
      <div class="media"> <a class="pull-left" href="#"> <img class="media-object img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/alagoon/128.jpg"> </a>
        <div class="media-body">
          <h4 class="media-heading">@cofla <span>hace 12 minutos</span></h4>
          <p>Nunc vestibulum laoreet cursus. <a href="#1">#AmigosLan</a> Etiam vulputate ultrices vehicula. Mauris vitae ipsum ac magna bibendum ullamcorper. </p>
        </div>
      </div>
      <div class="media"> <a class="pull-left" href="#"> <img class="media-object img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/raquelwilson/128.jpg"> </a>
        <div class="media-body">
          <h4 class="media-heading">@cofla <span>hace 12 minutos</span></h4>
          <p>Nunc vestibulum laoreet cursus. <a href="#1">#AmigosLan</a> Etiam vulputate ultrices vehicula. Mauris vitae ipsum ac magna bibendum ullamcorper. </p>
        </div>
      </div>
      <div class="media"> <a class="pull-left" href="#"> <img class="media-object img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/benjaminreid/128.jpg"> </a>
        <div class="media-body">
          <h4 class="media-heading">@cofla <span>hace 12 minutos</span></h4>
          <p>Nunc vestibulum laoreet cursus. <a href="#1">#AmigosLan</a> Etiam vulputate ultrices vehicula. Mauris vitae ipsum ac magna bibendum ullamcorper. </p>
        </div>
      </div>
      <div class="media"> <a class="pull-left" href="#"> <img class="media-object img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/nbirckel/128.jpg"> </a>
        <div class="media-body">
          <h4 class="media-heading">@cofla <span>hace 12 minutos</span></h4>
          <p>Nunc vestibulum laoreet cursus. <a href="#1">#AmigosLan</a> Etiam vulputate ultrices vehicula. Mauris vitae ipsum ac magna bibendum ullamcorper. </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}