{% extends 'OdiseoLanBundle::Frontend/layout.html.twig' %}

{% block content %}
<div class="cuerpo">
	<h1 class="fontsforweb_fontid_1416">ASEGURÁ TU LUGAR, FALTAN:</h1>
	<div class="countdown clearfix" data-end-date="July 19, 2014 15:03:25">
		<div class="day">
			<div class="number">0</div>
			<div class="label">Días</div>
		</div>
		<div class="hour">
			<div class="number">0</div>
			<div class="label">Horas</div>
		</div>
		<div class="minute">
			<div class="number">0</div>
			<div class="label">Minutos</div>
		</div>
		<div class="second">
			<div class="number">0</div>
			<div class="label">Segundos</div>
		</div>
	</div>
	
	<div id="content">
			{{ render(controller('OdiseoLanBundle:Frontend/Main:renderContent')) }}
	
	</div>
	
	</div>
{% endblock %}
