{% extends 'OdiseoLanBundle::Frontend/layout.html.twig' %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<video src="{{ asset('lan_amigos.m4v') }}" controls></video>		
      	</div>
  	</div>
</div>
{% endblock %}
