{% extends 'OdiseoLanBundle::Frontend/layout.html.twig' %}

{% block content %}

<div class="cuerpo">

		<form class="form" action="{{ path('lan_send_tweet')}}" method="post" id="tweet-form">
				<div class="formTop">
					<div class="inputsTop">
						<textarea   data-rule-required="true" rows="4" cols="50" name="form_data[tweet]" placeholder="Twitea...."  id="form_data_tweet" data-rule-required="true">
							#TEST adfasf  @songecko asdfads  asdf  @Ansin_B adafsdf @xxxxxxxxxxx adfs 
						</textarea>
					</div>
		
				</div>
				<div class="formBottom">
					<button type="submit " class="register fontsforweb_fontid_1416">TWITTEAR</button>
				</div>
			
		</form>
	
</div>	

 <div class="col-sm-8 col-lg-9 bg_avion">
    <div class="users" id='flight-passengers' data-refresh-url="{{ path('lan_flight_passengers')}}"> 
     	  
    <div class="user position-1" id='position-0'></div>
    <div class="user position-2" id='position-1'></div>
    <div class="user position-3" id='position-2'></div>
    
    <div class="user position-4" id='position-3'></div>
    <div class="user position-5" id='position-4'></div6
    <div class="user position-6" id='position-5'></div>
    <div class="user position-7"  id='position-6'></div>
    
    <div class="user position-8"  id='position-7'></div>
    <div class="user position-9"  id='position-8'></div>
    <div class="user position-10"  id='position-9'></div>
    <div class="user position-11"  id='position-10'></div>
    
    <div class="user position-12"  id='position-11'></div>
    <div class="user position-13"  id='position-12'></div>
    <div class="user position-14"  id='position-13'></div>
    <div class="user position-15"  id='position-14'></div>
    
    <div class="user position-16"  id='position-15' ></div>
    <div class="user position-17" id='position-16'></div>
    <div class="user position-18"  id='position-17'></div>
    <div class="user position-19"  id='position-18'></div>
    
    
    </div>
</div>



{% endblock %}