{% extends 'OdiseoLanBundle::Frontend/layout.html.twig' %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h1>¡Gracias por participar!</h1>
			<h2>
				Un jurado definirá el tweet más creativo. <br>
				Comunicaremos aquí  los ganadores. <br>
				¡Mucha suerte!
			</h2>
      	</div>
  	</div>
</div>
{% endblock %}
