{% extends 'OdiseoLanBundle::Frontend/layout.html.twig' %}

{% block login_button_top %}{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<iframe width="40%" height="315" src="//www.youtube.com/embed/moAJorB7J1o" frameborder="0" allowfullscreen></iframe>
			<iframe width="40%" height="315" src="//www.youtube.com/embed/-wTxvIyckHI" frameborder="0" allowfullscreen></iframe>
			
			<br>
			
			<h1>¡Gracias por participar!</h1>
			<h2>
				Un jurado definirá el tweet más creativo. <br>
				Comunicaremos aquí  los ganadores. <br>
				¡Mucha suerte!
			</h2>
      	</div>
  	</div>
</div>
{% endblock %}
