parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt
    consumer_key: 	   7V5v4TbuvgwyVei7sub8aTgxu
    consumer_key_secret: vR9m4wBBpz8F33hwd3ZdjjoN7WGtSBFL87rSMFEZSLDEjtvJAd