parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            es
    secret:            ThisTokenIsNotSoSecretChangeIt
    consumer_key: 	   DjLQ9OM87GAPn6eTobxEnWAxz
    consumer_key_secret: 2bCmeQF6SPI5HAB2XpNVzx47pg2DT8cpATiJtkSMePQ8XOeWOw
    max_size_result_twitter: 8
    router.request_context.host: amigoslan.com
    router.request_context.scheme: http
    router.request_context.base_url: 