@font-face {
	font-family: '33535gillsansmt';
	src: url('../fonts/33535gillsansmt.eot');
	src: local('33535gillsansmt'), url('../fonts/33535gillsansmt.woff') format('woff'), url('../fonts/33535gillsansmt.ttf') format('truetype');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_1416">Text with this font applied</p> */
.fontsforweb_fontid_1416 {
	font-family: '33535gillsansmt' !important;
}

body{ 
	font-family: arial;
	background-color: rgb(206, 206, 206); 
} 

.container { width: 1290px; padding: 0;}

button { padding: 0; border: none; outline: 0;} /* todos los botones */

h1{
	margin: 0 0 40px 0;
	padding-top: 65px;
	color: #FFFFFF;
	text-shadow: #4b74af -1px 3px 1px;
	font-size: 53px;
	text-align: center;
}

header{
	background:  url(../images/header.jpg) no-repeat; height: 83px;
}
header a{
	background-color: #0090e2;
	margin-left: 909px;
	margin-top: 20px;
	font-size: 14px;
	color: #FFFFFF;	
	ps
}
header a img{
	padding-right: 8px;
}
footer{
	background-color: #FFFFFF;
	height: 83px;
	padding-top: 19px;
	padding-left: 300px;
}

footer img{
	float: left;
}
footer p{
	float: left;
	color: #a6a7a9;
	font-size: 11px;	
	padding-left: 16px;
	padding-top: 3px;
}

footer p a{
	cursor:pointer;
}

.cuerpo { background:  url(../images/background.jpg) no-repeat; height: 618px;  }

.cuerpo .countdown {
	width: 665px;
	margin: 0 auto;
}

.cuerpo .countdown > div {
	background: url(../images/countdown-background.png) no-repeat;
	width: 155px;
	height: 175px;
	float: left;
	margin-right: 15px;
	position: relative;
	-webkit-box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow:    0px 5px 4px 0px rgba(0, 0, 0, 0.2);
	box-shadow:         0px 5px 4px 0px rgba(0, 0, 0, 0.2);
}

.cuerpo .countdown > div:last-child {
	margin-right: 0;
}

.cuerpo .countdown > div .number {
	font-size: 100px;
	text-align: center;
	line-height: 175px;
	color: #0154a6;
}

.cuerpo .countdown > div .label {
	position: absolute;
	bottom: 0;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	width: 100%;
	color: #8f9da9;
	text-transform: uppercase;
	padding-bottom: 16px;
}

.cuerpo .form {width: 793px; margin: 55px auto 0 auto; position:relative; box-shadow:  0px 3px 4px 2px #777780; }

.cuerpo .form .formTop { 	 
	height: 147px; 
	background-color: #f6f6f6;	
}
.cuerpo .form .formTop img{
	position: absolute;
	top: 20px;
}

.cuerpo .form .formTop .inputsTop{
	margin-left: 67px;
	padding-top: 44px
}

.cuerpo .form .formTop input{
	height: 39px;
	font-size: 14px;
	font-family: 'Arial Bold', sans-serif;
	padding-left: 7px;
	color: #6f8697;
}
.cuerpo .form .formTop .long  {
	width: 227px;
}
.cuerpo .form .formTop .email {
	width: 206px;
}

.cuerpo .form .formTop .inputsTop .short {
	width: 98px;
}

.cuerpo .form .formTop input{
	float:left;
	margin-right: 8px;
}

.cuerpo .form .formTop .inputsBottom{
	margin-left: 67px;
	padding-top: 44px
}

.cuerpo .form .formTop .inputsBottom .checkbox{
	margin-top: 2px;
}

.cuerpo .form .formTop .inputsBottom p{
	margin-top: 2px;
	font-size: 11px;
	font-family: 'Arial', sans-serif;
	margin-top: 14px;
	color: #6a6a6a;
}
.cuerpo .form .formBottom { height: 60px; background-color: #e4e4e4; padding-left: 510px; padding-top: 11px;}


.cuerpo .form .formBottom button{
	width: 108px;
	height: 37px;
	font-size: 12px;
	color: #FFFFFF;
}

.cuerpo .form .formBottom .follow { background-color: #0090e2;}

.cuerpo .form .formBottom .follow img { padding-right: 6px; }

.cuerpo .form .formBottom .register { background-color: #e21620; }

.cuerpo .signinTwitter { margin-left: 445px; margin-top: 167px;  display:none}

.cuerpo .signinTwitter .follow { background-color: #0090e2; height: 40px; color: #FFFFFF; float:left; width: 220px;}

.cuerpo .signinTwitter p{
	float: left;
	padding-left: 12px;
	color: #FFFFFF;
	padding-top: 11px;
	text-shadow: #4b74af -1px 3px 1px;
}

.cuerpo .signinTwitter img{
	padding-right: 8px;
}


.cuerpo .form .error{
	border: 1px solid red;	
}




