@charset "utf-8";
/* CSS Document */

body { cursor:default; font-family: 'Roboto', sans-serif;background:#f3f8fd;height: 95%; width: 100%; position: absolute; }
body.inicio { background:url(../images/bg.jpg) no-repeat center center fixed ; background-size:cover; height:auto}


.container-fluid,
.row-fluid { height: inherit; }

.modal-content {
  width: 800px;
  margin-left:-100px;
  margin-top:200px;
  text-align: left;
}

.modal-content { border-radius:3px; border:none; background:#f6f5f3; }
button.close span { font-size:20px;}
.modal-header { background:#1e446b; border-bottom:solid 1px #18395c; color:#fff; padding:8px 15px; border-top-left-radius:3px; border-top-right-radius:3px;}
h4.modal-title { font-size:14px;} h4.modal-title img { max-width:60px; margin-right:10px;}
.modal-content .modal-body { padding:0 15px;}
.modal-content .form-group { padding:5px; margin:10px;}
.modal-content span { font-size:10px; text-transform:uppercase; font-weight:500; color:#9b9b99; display:block}
.modal-content  .col-xs-12 , .modal-content .col-sm-4 {  padding:0 5px;}
.form-control { border-radius:0px; font-size:13px; padding:6px; border: solid 1px #ebebeb;box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.12) ;}
.form-control.error { border: solid 1px #EC1515; }
.info { background:#e3e3e3; border:solid 1px #c6c6c6; border-radius:3px;}

.modal-footer { border:none;}
.modal-footer .checkbox { margin:5px; font-size:10px; text-align:left; color:#666;}
.checkbox label {padding-left:10px;}
.modal-footer .checkbox  input { margin-top:-0px;}

.btn-default { border:none; border-radius:3px;box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.17); padding:10px 20px; line-height:16px; background:#234970; color:#fff; font-weight:bold;}
.btn-default:hover { background:#285889; color:#fff}




.btn-primary { border:none; border-radius:3px;box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.17); padding:15px 30px 20px 60px; line-height:16px; text-align:left}
.btn-primary strong { display:block}
.btn-primary i { float:left; margin:0 0 0 -40px; font-size:22px}


.navbar { background:#374a76; height:70px; line-height:70px; padding:0; margin:0; border-radius:0; border:none;}
.navbar .logo { float:left; }
.navbar .container-fluid { padding:0 0 0 20px; margin:0;}
.navbar .user { color:#fff; font-size:12px; font-size:12px; float:right; margin-right: 20px;}
.navbar .user img { max-width:45px; border:solid 2px #fff; margin-left:10px;}
.navbar .twitter { float: right; width:70px; height:70px; background:#4a83a0 url(../images/twitter.gif) no-repeat center center;}
.navbar .signinButton { padding: 10px 20px 10px 45px; line-height: 14px; font-size: 14px; float: right; margin: 12px; }
.navbar .signinButton .glyphicon { margin: -3px 0 0 -30px; }


h1 { color:#22486e;font-size:46px;font-family: 'Candal', sans-serif; letter-spacing:-3px; text-transform:uppercase; margin-bottom:40px;}
h2 { color:#22486e;font-size:20px;font-family: 'Candal', sans-serif; letter-spacing:-1px;  text-transform:uppercase; margin-bottom:30px;}


.inicio .container { max-width:800px; text-align:center; padding-top:40px; margin-bottom:100px;}
.inicio .timer { max-width:450px; margin:0px auto 50px auto;}
.timer .col-xs-3 { text-align:center; margin:0; padding:0 3px; color:#181819;font-size:13px; letter-spacing:-1px; font-weight:600; text-transform:uppercase;}
.timer span { font-size:50px; font-weight:900; color:#fff; background:url(../images/bg_timer.gif) repeat-x; line-height:104px;height:104px; display:block; border-radius:3px; text-align:center;box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5); }

.inicio .container a.loginButton {
	margin-top: 20px;
}

.pasos  { max-width:500px; margin:0px auto 30px auto; background:#fff; font-size:10px; color:#254e78; text-transform: uppercase; text-align:center; font-weight:500; padding:10px 10px 20px 10px;box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.17) ,  0 5px 10px rgba(0, 0, 0, 0.17);}
.pasos .ico { padding:15px 0}
.pasos .col-xs-4 {}


.footer { background:#2e547b; height:30px; bottom:0; position: fixed; float:left; display:block; width:100%; line-height:30px; text-align:center; z-index:5;}
.footer a { font-size:10px; color:#fff; margin:0 10px;}



.container-fluid { padding:0;}

.bg_avion { background:url(../images/avion_l.jpg) no-repeat center bottom; height:100%; min-height:780px; }
.col-twitter { padding:0;}
.box_twitter { background:#4a839f; padding:30px 30px 20px 30px;}
.box_twitter textarea { padding:20px;}
.box_twitter .btn { background:none; border-radius:3px; border:solid 2px #a5c1cf;  font-family: 'Roboto', sans-serif; color:#a5c1cf; font-weight:500; padding:10px 0;}
.box_twitter .btn:hover {  border:solid 2px #fff;color:#4a839f; background:#fff;}

.box_tweets { padding:30px; max-height:600px; overflow:scroll; overflow-x: hidden;}
.box_tweets .media { border-bottom:dotted 1px #c2c6ca; padding-bottom:20px; margin-bottom:20px;}
.box_tweets .media .media-object { max-width:50px; border:solid 2px #fff;}
.box_tweets .media .media-heading { font-size:14px; color:#378cb3}
.box_tweets .media .media-heading span { font-size:11px;  font-weight:normal; color:#8c8c8c}
.box_tweets .media p { color:#343434; font-size:13px;}
.box_tweets .media p a { color:#378cb3; text-decoration:none;}

.users { width:234px; height:440px; margin:0px auto; height:100%}
.users .user { position:absolute; float:left; width:45px; height:45px; border-radius:3px; overflow:hidden; border:solid 3px transparent;box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);}
.users .user img { width:100%;}
.users .user:hover {  border:solid 3px #3e6e87;}


.position-1 { bottom:385px; margin:0 0 0 31px}
.position-2 { bottom:385px; margin:0 0 0 98px}
.position-3 { bottom:385px; margin:0 0 0 165px}

.position-4 { bottom:257px; margin:0 0 0 3px}
.position-5 { bottom:257px; margin:0 0 0 53px}
.position-6 { bottom:257px; margin:0 0 0 135px}
.position-7 { bottom:257px; margin:0 0 0 185px}

.position-8 { bottom:180px; margin:0 0 0 3px}
.position-9 { bottom:180px; margin:0 0 0 53px}
.position-10 { bottom:180px; margin:0 0 0 135px}
.position-11 { bottom:180px; margin:0 0 0 185px}

.position-12 { bottom:99px; margin:0 0 0 3px}
.position-13 { bottom:99px; margin:0 0 0 53px}
.position-14 { bottom:99px; margin:0 0 0 135px}
.position-15 { bottom:99px; margin:0 0 0 185px}

.position-16 { bottom:21px; margin:0 0 0 3px}
.position-17 { bottom:21px; margin:0 0 0 53px}
.position-18 { bottom:21px; margin:0 0 0 135px}
.position-19 { bottom:21px; margin:0 0 0 185px}


@media screen and (max-width:1366px){
	
.bg_avion { background:url(../images/avion_m.jpg) no-repeat center bottom; ; }
	

}





@media screen and (max-width:790px){
	
body { overflow: visible !important}
body.inicio { background:#a8cff2}


.bg_avion { background:url(../images/avion_s.jpg) no-repeat center bottom;  }
	
.modal-content {  width: 95%; margin:20px auto}
	
.modal .form-control  { margin-bottom:7px;}
	
.navbar .user span { display:none;}

.box_tweets { padding:30px; max-height:none; overflow: visible; overflow-x:none;}
	
h1 { font-size:34px;margin-bottom:30px;}
h2 { margin-bottom:20px;}

}