{% macro list(configurations) %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}
{% import 'GeckoBackendBundle:Macros:alerts.html.twig' as alerts %}
{% import 'GeckoBackendBundle:Macros:misc.html.twig' as misc %}

{% if configurations|length > 0 %}
<div class="box">
	<div class="box-body table-responsive no-padding">
		<table class="table table-hover"><tbody>
			<tr>
				<th>Fecha Inicio</th>
				<th>Fecha Fin</th>
				<th>Inició envio de mail</th>
				<th>Finalizó envio de mail</th>
				<th></th>
			</tr>
			{% for configuration in configurations %}
	        <tr>
				<td>{{ configuration.dateBegin|date("d-m-Y H:i") }}</td>
				<td>{{ configuration.dateEnd|date("d-m-Y H:i") }}</td>
				<td>
					{% if(configuration.beginMailSended) %}
						<span class="label label-success">Si</span>
					{% else %}
						<span class="label label-danger">No</span>
					{% endif %}
				</td>
				<td>
					{% if(configuration.endMailSended) %}
						<span class="label label-success">Si</span>
					{% else %}
						<span class="label label-danger">No</span>
					{% endif %}
				</td>
				<td>
					<div class="pull-right">
	                    {{ buttons.edit(path('odiseo_lan_configuration_update', {'id': configuration.id})) }}
	                </div>
				</td>
			</tr>
	        {% endfor %}
		</tbody></table>
	</div>
</div>
{% else %}
{{ alerts.info('gecko.backend.no_results'|trans) }}
{% endif %}

{% endmacro %}