body > .header .logo {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.content .row .pagination ul, .content .row .pagination li{
	display: inline;
	padding: 2px 7px; /*Separar el texto*/
	margin:5px; /* Separar los botones */
	
}

.form-group input[type=checkbox]{ width:20px; }

.form-group #lan_configuration_dateBegin_date{ float:left;}
.form-group #lan_configuration_dateEnd_date{ float:left;}
.form-group #lan_configuration_dateBegin_time_hour{ margin-left:3px;}
.form-group #lan_configuration_dateEnd_time_hour{ margin-left:3px;}