body > .header .logo {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.content .row .pagination ul, .content .row .pagination li{
	display: inline;
	padding: 2px 7px; /*Separar el texto*/
	margin:5px; /* Separar los botones */
	
}